/* |START| Abstracts - Variables */
:root,
.theme-dark,
.theme-dark .theme-light {
    /* || Background Colors */
    --background-primary: black;
    --background-secondary: #0E0F10;
    --background-secondary-alt: #151619;
    --background-tertiary: #070708;
    --background-accent: #212121;
    --background-modifier-hover: rgba(33, 35, 37, 0.3);
    --background-modifier-active: rgba(33, 35, 37, 0.4);
    --background-modifier-selected: rgba(33, 35, 37, 0.42);
    --background-modifier-accent: rgba(255, 255, 255, 0.06);
    --background-floating: #090A0B;
    --modal-background: #0C0C0E;
    --input-background: #070708;
    --input-border: #131416;
    --channeltextarea-background: #070708;
    --card-background: #090A0B;
    --card-border: #1C1C1C;

    --button-secondary-background: #22262A;
    --button-secondary-background-hover: #2E3338;
    --button-secondary-background-active: #373D43;
    --button-secondary-background-disabled: #171A1C;
    --button-outline-primary-border: #22262A;
    --button-outline-primary-border-hover: #2E3338;
    --button-outline-primary-background-hover: #2E3338;
    --button-outline-primary-background-active: #373D43;
    --button-outline-primary-border-active: #373D43;

    --scrollertrack-background: #090A0B;
    --scrollerthumb-background: #131416;

    /* || Text Colors */
    --text-normal: white;
    --text-muted: #969696;
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --channels-default: var(--text-muted);

    /* || Interactive */
    --channel-icon: var(--channels-default);
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #3B3F45;
}
/* |END| Abstracts - Variables */