#app-mount .root-g14mjS {
    // || Manage Accounts
    .list-3-WAYB {
        background-color: var(--background-primary);
    }
    // || Add an Account
    .authBox-1HR6Ha {
        box-shadow: none;
        background-color: var(--modal-background);
    }
    .navRow-dG-XX8 {
        box-shadow: none;
        background-color: var(--background-tertiary);
    }
}