#app-mount .animatedNode-zo4rIT {
    .authBox-1HR6Ha {
        box-shadow: none;
        background-color: var(--modal-background);
    }
    .navRow-dG-XX8 {
        box-shadow: none;
        background-color: var(--background-tertiary);
    }
}