/* |START| Components/Modals - Boost Server */
#app-mount .root-g14mjS {
    // || Boost Server Modal
    .iconWrapper-2_MXbk {
        background-color: var(--background-accent);
    }
    // || Boost Perks Modal
    .perks-2IIbWQ {
        background-color: var(--background-primary);
        .perkRow-10K6XE {
            border-bottom-color: var(--background-modifier-accent);
        }
    }
}
/* |END| Components/Modals - Boost Server */