/* |START| Components/Modals - Events */
#app-mount .root-g14mjS {
    .card-8UsK4b {
        border-color: var(--background-primary);
        background-color: var(--background-primary);
        &:hover {
            background-color: var(--background-modifier-hover);
        }
    }
    .progressBar-18rmp1:not(.selectedProgressBar-11z5d9) {
        background-color: var(--background-accent);
    }
    .contentContainer-BWAau5 {
        background-color: var(--modal-background);
    }
}
/* |END| Components/Modals - Events */