/* |START| Components/Modals - Quickswitcher */
#app-mount .root-g14mjS {
    .quickswitcher-pKcM9U {
        box-shadow: none;
        background-color: var(--modal-background);
        .scroller-2qwVWY {
            background-color: var(--modal-background);
        }
    }
}
/* |END| Components/Modals - Quickswitcher */