#app-mount {
    .qualitySettingsContainer-2LjkfM {
        border-color: var(--background-primary);
    }
    .item-2OyinQ:not(.selectorButtonSelected-3cQUnj) {
        border-color: var(--background-secondary-alt);
        background-color: var(--background-primary);
    }
}