#app-mount .root-g14mjS {
    .container-x8Y1ix, .guildRow-3fJnG6 {
        background-color: var(--modal-background);
        &:hover {
            background-color: var(--background-modifier-hover);
        }
    }

    .footerSeparator-VzAYwb {
        box-shadow: inset 0 1px 0 rgba(var(--primary-dark-900-rgb), .6);
    }
}