#app-mount .root-g14mjS {
    box-shadow: var(--elevation-stroke), var(--elevation-high);

    // "can you tell us more"
    .option-1O-Hwt {
        background-color: var(--background-primary);
        &:hover {
            background-color: var(--background-secondary);
        }
    }
}