#app-mount .layer-86YKbF {
    .tierBody-1d3UiS {
        background-color: var(--background-secondary);
    }
    .tierHeader-3q9jIw,
    .tierInProgress-1vFUnw {
        background-color: var(--background-tertiary);
    }
    .background-3xJH_4 {
        color: var(--background-tertiary);
    }
    
    #overview-tab {
        .avatarUploaderInnerSquareDisabled-3M9eJS {
            background-color: var(--background-accent);
        }
    }
    #roles-tab {
        .container-3EtAkD {
            background-color: var(--card-background);
        }
        .roleRow-230vCm {
            &:hover {
                background-color: var(--background-tertiary);
            }
            .primary-38Hs-h:hover:not(.disabled-184-il),
            .secondary-2bzKEX {
                background-color: var(--background-secondary);
            }
        }
        .previewContainer-1xQAsw .theme-light {
            display: none;
        }
    }
    .auditLog-1NVAY0 {
        border-color: var(--background-secondary-alt);
        background-color: var(--background-tertiary);
        .headerClickable-zGQJz3, .headerDefault-1e6yjj {
            background-color: transparent;
        }
        .headerExpanded-1-zwDr {
            background-color: var(--background-secondary);
        }
        .changeDetails-1kMZqI {
            background-color: var(--background-tertiary);
        }
        .divider-M3saWq {
            background-color: var(--background-secondary-alt);
        }
    }
    #integrations-tab {
        .card-2L21B2 {
            border-color: var(--card-border);
            .cardHeader-3d6H8N {
                background-color: var(--background-secondary);
            }
        }
    }
    #guild_templates-tab {
        .descriptionBox-SKGNgB {
            background-color: var(--card-background);
        }
    }
    #community-tab {
        .featureCard-3XHbjy {
            background-color: var(--card-background);
            .featureIcon-2sTnDK {
                background-color: var(--background-primary);
            }
        }
    }
}