@use './server';
@use './user';

#app-mount .layer-86YKbF {
    .closeButton-PCZcma, .keybind-13vtq8 {
        color: var(--interactive-normal);
    }
    .sidebarRegionScroller-FXiQOh {
        background-color: var(--background-primary);
    }
    .bar-1Bhnl9:not(.microphone-2RrrW7, .speaking-2Crrvt),
    .markDash-yk2kJ- {
        background-color: var(--background-secondary-alt);
    }
    .elevationHigh-28Pty4 {
        background-color: var(--background-secondary) !important;
    }
    .cardPrimary-3qRT__ {
        border-color: var(--card-border);
        background-color: var(--card-background);
        .iconWrapper-1sOtkE {
            background-color: var(--background-primary);
        }
    }
    .cardPrimaryOutline-1ofwVz {
        border-color: var(--card-border);
    }
    .default-1Tkeeg {
        background-color: var(--background-tertiary);
    }
}