#app-mount {
    .layer-86YKbF {
        // Connections
        .connectContainer-1hylYM {
            background-color: var(--background-secondary);
            .accountButtonInner-33vCDY {
                background-color: var(--background-secondary-alt);
            }
        }

        // Gift Inventory
        .promotionCard-mo7ClH {
            background-color: var(--background-secondary);
        }

        // Billing
        .verticalFit-21XL0v {
            .paymentPane-ut5qKZ, .paginator-1eqD2g, .payment-2bOh4k {
                background-color: var(--background-secondary);
            }
            .bottomDivider-ZmTm-j {
                border-bottom-color: var(--background-modifier-accent);
            }
        }
        .codeRedemptionRedirect-2hYMSQ {
            border-color: var(--background-tertiary);
            background-color: var(--deprecated-card-bg);
        }

        // Voice
        .notches-2w7UZJ.gray-3wP137 {
            color: var(--background-primary);
            background-color: var(--background-secondary-alt);
        }

        // Registered Games
        .game-2f2vPC {
            -webkit-box-shadow: 0 1px 0 0 var(--background-modifier-accent);
            box-shadow: 0 1px 0 0 var(--background-modifier-accent);
        }
    }

    // Nitro
    // NOTE: I put this outside of the settings container since it appears in other places.
    .feature-2IUcBI {
        background-color: var(--background-secondary);
    }
}
