#app-mount {
    .perksModal-CLcR1c, .tierMarkerBackground-G8FoN4 {
        background-color: var(--background-primary);
    }
}
.perksModal-CLcR1c {
    .ctaBar-Nhk8yY,
    .barBackground-unEPDT,
    .tierBody-3ju-rc,
    .perk-19D_HN {
        background-color: var(--background-tertiary);
    }
    .tierMarkerInProgress-2Tdxjz {
        background-color: var(--background-tertiary) !important;
    }
    .tierHeaderLocked-3ItHYn {
        background-color: var(--background-secondary);
    }
}