#app-mount .container-2IKOsH {
    background-color: var(--background-primary);
    .scrollerContainer-y16Rs9 {
        background-color: transparent;
    }
    .prompt-1sE27N {
        background-color: var(--background-secondary);
    }
    .profileCard-2gVmvm {
        background-color: var(--background-secondary);
    }
}

#app-mount .container-1um7CU {
    background-color: var(--background-primary);
    .channelRow-4X_3fi {
        background-color: var(--background-secondary);
        &:hover {
            background-color: var(--background-tertiary);
        }
    }
}