#app-mount {
    .embedFull-1HGV2S {
        border-color: var(--background-secondary-alt);
        background: var(--background-tertiary);
    }
    .wrapperAudio-1Bzv_Z,
    .markup-eYLPri code,
    .textContainer-36wgKK, .footer-GXWBBp,
    .attachment-1PZZB2 {
        border-color: var(--background-primary);
        background-color: var(--background-tertiary);
    }

    .wrapper-1HIH0j,
    .container-3i3IzO {
        background-color: var(--background-tertiary);
    }
    .guildIconImage-74OdmM {
        background-color: var(--background-secondary);
    }
    .wrapper-2vIMkT {
        background-color: var(--background-floating);
    }

    .message-2CShn3:not(.mentioned-Tre-dv, .ephemeral-2nDdnn):hover {
        background-color: rgba(255, 255, 255, 0.015);
    }
}