#app-mount .container-2cd8Mz {
    background-color: var(--background-primary);
    .peopleListItem-u6dGxF:hover {
        background-color: var(--background-tertiary);
    }
    .actionButton-3-B2x- {
        background-color: var(--background-secondary);
    }

    .itemCard-3Etziu {
        border: none;
        background-color: var(--background-tertiary);
        &:hover {
            background-color: var(--background-secondary);
        }
    }
    .inset-SbsSFp {
        background-color: var(--background-primary);
    }
    .separator-2OaeRP {
        background-color: var(--activity-card-border);
    }
    .multipleIconWrapper-2YHnS6 {
        background-color: var(--background-primary);
    }
}