#app-mount .background-fkKrXt {
    background-color: var(--background-primary);
    .card-3x20HF,
    .container-2Hi7Km,
    .container-xwOzwi,
    .wrapper-15CKyy {
        border: 1px solid var(--card-border);
        background-color: var(--background-primary);
    }
    .icon-2IDTxf {
        border-color: var(--background-tertiary);
    }
    .iconContainer-2R-3M1 {
        background-color: var(--background-primary);
    }
    .emptyStateContainer-xWOMPJ {
        background-color: var(--background-tertiary);
    }
    @media(max-width: 1300px) {
        .container-xwOzwi {
            border: none;
            background-color: var(--background-primary);
        }
        .container-3HMTms {
            background-color: var(--background-tertiary);
        }
    }
    .headerBarInner-2pcZSM::after {
        background: linear-gradient(90deg,rgba(54,57,63,0) 0,var(--background-primary));
    }
}