#app-mount .container-3wLKDe {
    background-color: var(--background-primary);
    .mainCard-3KBsBI,
    .sidebarCard-1Gn1ch,
    .container-2IhveL {
        border: 1px solid var(--card-border);
        background-color: var(--background-primary);
    }
    .pill-3pRQlO {
        background-color: var(--background-secondary);
    }
}