#app-mount .background-fkKrXt {
    background-color: var(--background-primary);

    .card-3x20HF {
        background-color: var(--background-secondary);
    }
    .container-2Hi7Km, .icon-2IDTxf {
        background-color: var(--background-secondary);
    }
    .icon-2IDTxf {
        border-color: var(--background-secondary);
    }
    .container-xwOzwi, .container-3rZ3XA {
        background-color: var(--background-secondary);
        .container-3HMTms:hover {
            background-color: var(--background-tertiary);
        }
        .iconContainer-2R-3M1 {
            background-color: var(--background-primary);
        }
    }
}