#app-mount {
    // |default
    .default-1Tkeeg {
        background-color: var(--background-tertiary);
    }
    // ||sidebar
    .sidebarRegionScroller-FXiQOh {
        background-color: var(--background-primary);
    }
    // || sliders / bars
    .bar-1Bhnl9:not(.microphone-2RrrW7, .speaking-2Crrvt),
    .markDash-yk2kJ- {
        background-color: var(--background-secondary-alt);
    }
    // || cards
    .cardPrimary-3qRT__,
    .cardPrimaryEditable-2mz_3i,
    .codeRedemptionRedirect-2hYMSQ {
        border-color: var(--card-border);
        background: var(--card-background);
    }
    .cardPrimaryOutline-1ofwVz {
        border-color: var(--card-border);
    }
    .settingCard-xZSDjS {
        background-color: var(--card-background);
    }
    .iconWrapper-1sOtkE {
        background-color: var(--background-primary);
    }
    .inModal-3SoQyx {
        border-color: var(--card-border);
        background-color: unset;
    }
    .descriptionBox-SKGNgB,
    .featureCard-3XHbjy {
        background-color: var(--background-tertiary);
    }
    // permissions
    .group-LWHoGI {
        border: 1px solid var(--background-secondary);
        .item-4m-12I:not(.selected-3jieYB) {
            background-color: var(--background-tertiary);
            &:hover {
                background-color: var(--background-modifier-hover);
            }
        }
        .passthrough--fbdFR.selected-3jieYB {
            background-color: var(--background-secondary-alt);
        }
    }
    // save
    .elevationHigh-28Pty4 {
        background-color: var(--background-secondary) !important;
    }

    // |user
    // || connections
    .accountList-Wii_T5 {
        background-color: var(--background-tertiary);
    }
    .connectionHeader-Ixbb1s {
        background-color: var(--background-secondary);
    }
    .connection-YOVI9j {
        background-color: var(--background-tertiary);
    }
    // ||nitro
    .feature-2IUcBI,
    .detailsBlock-24pLFz,
    .accountCredit-1gEVAQ {
        background-color: var(--background-tertiary);
    }
    // ||billing
    .paymentPane-ut5qKZ,
    .paginator-1eqD2g,
    .payment-2bOh4k {
        background-color: var(--background-tertiary);
    }
    .bottomDivider-ZmTm-j {
        border-color: var(--background-primary);
    }
    .hoverablePayment-lE1s4t, .itemFilled-1cPbtg {
        &:hover {
            background-color: var(--background-modifier-hover);
        }
        &:active {
            background-color: var(--background-modifier-active);
        }
    }
    .expandedInfo-1W31i3 {
        border: 1px solid var(--card-border);
        background-color: var(--background-primary);
    }
    // ||appearance
    .preview-QJ3OG3 {
        background-color: var(--background-primary);
    }
    // ||voice
    .notches-2w7UZJ.gray-3wP137 {
        background-image: none;
        background-color: var(--background-primary);
        -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="8" height="20" viewBox="0 0 8 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z" fill="currentColor"/></svg>');
        mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="8" height="20" viewBox="0 0 8 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z" fill="currentColor"/></svg>');
    }
    .progress-1S-TDF {
        background-color: var(--background-accent);
    }
    .cameraWrapper-3a7Ngv {
        border-color: var(--card-border);
        background-color: var(--background-primary);
    }
    .backgroundOptionInner-SSz19O {
        background-color: var(--background-primary);
    }
    // activity
    .game-2f2vPC {
        box-shadow: none;
        border-bottom: 1px solid var(--background-modifier-accent);
    }

    // |server
    // ||overview
    .avatarUploaderInnerSquareDisabled-3M9eJS {
        background-color: var(--background-accent);
    }
    // ||roles
    .container-3EtAkD {
        background-color: var(--background-tertiary);
    }
    // ||stickers
    .tierHeaderUnlocked-1OpOLf {
        background-color: var(--background-tertiary);
    }
    // ||integrations
    .card-2L21B2 {
        .cardHeader-3d6H8N {
            background-color: var(--background-secondary);            
        }
        .item-14XeNr:not(.selected-I4nkOo) {
            background-color: var(--background-secondary-alt);
        }
    }
    // ||stickers
    .tierHeaderLocked-30MLlO,
    .tierInProgress-1vFUnw  {
        background-color: var(--background-tertiary);
    }
    .tierBody-1d3UiS {
        background-color: var(--background-secondary);
    }
    .background-3xJH_4 {
        color: var(--background-tertiary);
    }
    // ||audit
    .auditLog-1NVAY0 {
        border-color: var(--background-secondary-alt);
        background-color: var(--background-tertiary);
        .headerClickable-zGQJz3, .headerDefault-1e6yjj {
            background-color: transparent;
        }
        .headerExpanded-1-zwDr {
            background-color: var(--background-secondary);
        }
        .changeDetails-1kMZqI {
            background-color: var(--background-tertiary);
        }
        .divider-M3saWq {
            background-color: var(--background-secondary-alt);
        }
    }
    // ||discovery
    .card-WWLYDO, .iconMask-1EYGrv {
        background-color: var(--background-tertiary);
    }
    .welcomeChannel-_Q4qAA {
        background-color: var(--background-secondary-alt);
    }
    .inputWrapper-3a4ywb {
        border: unset;
        background-color: unset;
    }
    .tag-ijGVSm {
        background-color: var(--background-secondary);
    }
}