#app-mount {
    // || Friends
    .container-2cd8Mz {
        background-color: var(--background-primary);
        .peopleListItem-u6dGxF:hover {
            background-color: var(--background-tertiary);
        }
        .actionButton-3-B2x- {
            background-color: var(--background-secondary);
        }
        .itemCard-3Etziu {
            border: none;
            background-color: var(--card-background);
            &:hover {
                background-color: var(--background-secondary);
            }
        }
        .inset-SbsSFp {
            background-color: var(--background-primary);
        }
        .separator-2OaeRP {
            background-color: var(--activity-card-border);
        }
        .multipleIconWrapper-2YHnS6 {
            background-color: var(--background-primary);
        }
        .applicationStreamingPreviewWrapper-7j27t8 {
            background-color: var(--background-secondary);
        }
    }
    // || Library
    .container-36u7Lw {
        .defaultIndicator-1AxErs {
            background-color: var(--background-accent);
        }
        .installationPath-2PbaRC {
            box-shadow: none;
            border-bottom: 1px solid var(--background-modifier-accent);
        }
        .hiddenLibraryApplication-lfw1ab {
            border-bottom-color: var(--background-modifier-accent);
            &::before {
                border-color: var(--card-border);
                background-color: var(--card-background);
            }
        }
    }
    // || Nitro
    .applicationStore-2nk7Lo {
        .feature-2IUcBI {
            background-color: var(--card-background);
        }
    }
}