.callContainer-BGIngG,
.container-cH6QoY,
.scroller-35tvpe,
.rowContainer-jDvyA4,
.container-3r7mfc,
.wrapper-1gVUIN.minimum-fXpVNc,
.participants-3hk3ND {
    background-color: var(--background-primary);
}
.container-1IyjjY {
    background-color: var(--background-tertiary);
    &:hover {
        background-color: var(--background-modifier-hover);
    }
    &:active {
        background-color: var(--background-modifier-active);
    }
}
.iconBackground-3qSXiM {
    background-color: var(--background-secondary);
}
.separator-3FDGQ4 {
    background-color: var(--background-modifier-accent);
}
.divider-vv_iHh {
    border-color: var(--background-modifier-accent);
}