/* || Mountain Wumpus */
[style$='("/assets/b36c705f790dad253981f1893085015a.svg");'] {
    background-image: url('https://luckfire.github.io/amoled-cord-v4/assets/theme/mountain-wumpus.svg') !important;
}

/* || King Wumpus */
[style$='("/assets/b5eb2f7d6b3f8cc9b60be4a5dcf28015.svg");'] {
    background-image: url('https://luckfire.github.io/amoled-cord-v4/assets/theme/king-wumpus.svg') !important;
}

/* || Sleeping Wumpus */
[style$='url("/assets/b36de980b174d7b798c89f35c116e5c6.svg");'] {
    background-image: url('https://luckfire.github.io/amoled-cord-v4/assets/theme/sleeping-wumpus.svg') !important;
}

/* || Mining Wumpus */
[style$='url("/assets/8c998f8fb62016fcfb4901e424ff378b.svg");'] {
    background-image: url('https://luckfire.github.io/amoled-cord-v4/assets/theme/mining-wumpus.svg') !important;
}

/* || Paper Plane */
[style$='url("/assets/9937df80bc9c58a3e67709f58402f4db.svg");'] {
    background-image: url('https://luckfire.github.io/amoled-cord-v4/assets/theme/paper-plane.svg') !important;
}

/* || Emojis */
[style$='url("/assets/b21e574729a2e2b9243d811be7333677.svg");']  {
    background-image: url('https://luckfire.github.io/amoled-cord-v4/assets/theme/emojis.svg') !important;
}

/* || Empty Wumpus */
.emptyWumpus-11kRB0 {
    background-image: url('https://luckfire.github.io/amoled-cord-v4/assets/theme/empty-wumpus.svg') !important;
}