#app-mount .root-g14mjS {
    box-shadow: none;
    background-color: var(--modal-background);
    .footer-31IekZ, .footer-VCsJQY {
        box-shadow: none;
        color: var(--text-normal);
        background-color: var(--background-tertiary);
    }
}