#app-mount .root-g14mjS {
    box-shadow: none;
    background-color: var(--modal-background);
    .modalHeader-1hF3w-, .modalBody-3-seO3 {
        background-color: var(--modal-background);
    }
    .syncCard-Mu6lpD {
        background-color: var(--background-primary);
    }
    .item-2OyinQ:not(.selectorButtonSelected-3cQUnj, .selectorButtonSelected-1VZ6hz) {
        border-color: var(--background-secondary-alt);
        background-color: var(--background-primary);
    }
    .footer-31IekZ, .footer-VCsJQY {
        box-shadow: none;
        color: var(--text-normal);
        background-color: var(--background-tertiary);
    }
}