#app-mount {
    .layer-2aCOJ3 {
        .header-1w9Q93, .header-1w9Q93 + div {
            background-color: var(--background-floating);
        }
        .tab-TRrPC8.active-1grPyy {
            background-color: var(--background-modifier-active);
        }
    }
    .container-2O1UgZ {
        box-shadow: none;
        border-color: var(--background-primary);
        background-color: var(--background-floating);
    }
    .input-2z42oC {
        border: 1px solid var(--input-border);
        background-color: var(--input-background);
    }
}