#app-mount {
    .layer-2aCOJ3 {
        .header-1w9Q93 {
            background-color: var(--background-floating);
            + div {
                background-color: var(--background-floating);
            }
        }
        .tab-TRrPC8.active-1grPyy {
            background-color: var(--background-modifier-active);
        }
    }
    .container-2O1UgZ {
        box-shadow: none;
        border-color: var(--background-primary);
        background-color: var(--background-floating);
    }
}