#app-mount .layer-2aCOJ3 {
    .header-1w9Q93 {
        background-color: var(--popout-background);
        + div {
            background-color: var(--popout-background);
        }
    }
    .tab-TRrPC8.active-1grPyy {
        background-color: var(--background-modifier-active);
    }
}
