@mixin warning_flash {
    animation: flash 1s ease infinite;
    color: white;
    background-color: var(--info-danger-foreground) !important;
}

.theme-light {
    .base-2jDfDU {
        &::before {
            z-index: 101;
            position: relative;
            text-align: center;
            content: 'This theme was made for dark mode and will not properly work on light mode. Please head over to Settings -> Appearance, then under Theme enable Dark.';
            font-size: 14px;
            font-weight: 500;
            line-height: 36px;
            padding-left: 4px;
            padding-right: 28px;
            border-radius: 8px 0 0;
            flex-grow: 0;
            flex-shrink: 0;
            color: #fff;
            background-color: var(--info-danger-foreground);
        }
        .notice-2HEN-u {
            border-radius: 0;
        }

        .container-YkUktl .flex-2S1XBF button:last-child {
            @include warning_flash();
        }
    }

    .layer-86YKbF {
        [aria-controls="appearance-tab"][aria-selected="false"],
        #appearance-tab .children-1xdcWE .marginTop8-24uXGp:nth-child(2n) .item-2idW98:first-child {
            @include warning_flash();
        }
    }

    .layer-2aCOJ3 {
        [class="item-1OdjEX labelContainer-2vJzYL colorDefault-CDqZdO"]#user-settings-cog-Appearance,
        [class="item-1OdjEX labelContainer-2vJzYL colorDefault-CDqZdO"]#user-settings-cog-Appearance--dark {
            @include warning_flash();
        }
    }
}

@keyframes flash {
	0% { box-shadow: 0 2px 10px hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%, 0.2),0 0 0 2px hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%, 0.1); }
	70% { box-shadow: 0 0 20px 15px hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%, 0.1),0 0 0 4px hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%, 0.1); }
	100% { box-shadow: 0 0 20px 15px hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%, 0),0 0 0 4px hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%, 0.1); }
}
