.wordmark-2u86JB {
    margin-left: 13px;
    color: var(--text-muted);
    &::before {
        position: absolute;
        content: "";
        width: 12px;
        height: 12px;
        left: -3px;
        top: 6px;
        background: var(--text-muted);
        mask-image: url('data:image/svg+xml;utf8,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.765 7.96494C10.685 7.82994 10.46 7.61994 9.90001 7.71994C9.59001 7.77494 9.27501 7.79994 8.96001 7.78494C7.79501 7.73494 6.74001 7.19994 6.00501 6.37494C5.35501 5.64994 4.95501 4.70494 4.95001 3.68494C4.95001 3.11494 5.06001 2.56494 5.28501 2.04494C5.50501 1.53994 5.35001 1.27494 5.24001 1.16494C5.12501 1.04994 4.85501 0.889936 4.32501 1.10994C2.28001 1.96994 1.01501 4.01994 1.16501 6.21494C1.31501 8.27994 2.76501 10.0449 4.68501 10.7099C5.14501 10.8699 5.63001 10.9649 6.13001 10.9849C6.21001 10.9899 6.29001 10.9949 6.37001 10.9949C8.04501 10.9949 9.61501 10.2049 10.605 8.85994C10.94 8.39494 10.85 8.09994 10.765 7.96494Z" fill="white"/></svg>');
    }
}