/* |START| Components/Popouts - Colorpicker */
#app-mount .colorPickerCustom-1swUKF {
    border-color: var(--background-primary);
    background: var(--background-floating);
    .input-2m5SfJ {
        background-color: var(--input-background);
    }
}
/* |END| Components/Popouts - Colorpicker */