.layer-2aCOJ3 {
    .channelHeader-DFRX8q {
        background-color: var(--background-floating);
    }
    .jumpButton-1V_1FA {
        background-color: var(--background-secondary);
    }
    .button-1_oXub {
        background-color: var(--background-primary);
        &:hover {
            background-color: var(--background-modifier-hover);
        }
        &:active {
            background-color: var(--background-modifier-active);
        }
    }
    .messageContainer-3VTXBC,
    .messages-23can0 {
       background-color: var(--background-primary);
    }
}