.messagesPopoutWrap-3zryHW, .recentMentionsPopout-2bI1ZN {
    .channelHeader-DFRX8q {
        background-color: var(--popout-background);
    }
    .jumpButton-1V_1FA {
        background-color: var(--background-primary);
    }
}
.messagesPopoutWrap-3zryHW .messageContainer-3VTXBC,
.recentMentionsPopout-2bI1ZN .messages-23can0 {
    background-color: var(--background-secondary);
}