/* |START| Components/Popouts - Context Menus */
.layer-2aCOJ3 {
    // || Default
    .button-1zW0-r {
        background-color: var(--background-primary);
        &:hover {
            background-color: var(--background-modifier-hover);
        }
    }
    // || Region Selector
    .quickSelectPopout-2F0PXw {
        background-color: var(--background-floating);
        .quickSelectPopoutOption-2E2UmS {
            &.selected {
                background-color: var(--background-modifier-selected);
            }
            &:hover {
                background-color: var(--background-modifier-hover);
            }
        }
    }
}
/* |END| Components/Popouts - Context Menus */