#app-mount {
    // page
    .searchResultsWrap-5RVOkx, .channelName-3w2Y3c, .searchHeader-1r_ZSh {
        background-color: var(--background-primary);
    }
    .searchResult-O9NDji {
        background-color: var(--background-tertiary);
    }
    .button-cfOvv- {
        background-color: var(--background-primary);
    }

    // container
    .searchAnswer-23w-CH,
    .searchFilter-2UfsDk {
        background-color: var(--background-accent);
    }
    .container-2McqkF {
        box-shadow: none;
        background-color: var(--background-floating);
        .focused-2FU0YH {
            border-bottom: none;
            background-color: var(--background-floating);
        }
        .option-ayUoaq {
            &::after {
                background: none;
            }
        }
    }
    .calendarPicker-sDhzdi {
        .react-datepicker,
        .react-datepicker__header {
            background-color: var(--background-floating);
        }
        .react-datepicker__navigation.react-datepicker__navigation--next,
        .react-datepicker__navigation.react-datepicker__navigation--previous {
            background-color: var(--background-secondary);
        }
        .react-datepicker__day--disabled,
        .react-datepicker__day--outside-month,
        .react-datepicker__day.react-datepicker__day--disabled,
        .react-datepicker__day.react-datepicker__day--disabled:hover {
            background-color: var(--background-tertiary);
        }
        .react-datepicker__day,
        .react-datepicker__day:last-of-type {
            border-color: var(--background-secondary-alt);
        }
    }
}