/* |START| Components/Popouts - Threads */
.container-18GwIk, .header-3_zmOb {
    background-color: var(--background-floating);
}
.container-18GwIk .container-2rzKKA {
    border-color: var(--background-primary);
    background-color: var(--background-primary);
    &:hover {
        border-color: var(--background-secondary);
    }
    &:active {
        border-color: var(--background-secondary-alt);
    }
}
/* |END| Components/Popouts - Threads */