/* |START| Abstracts - Variables */
:root,
.theme-dark,
.theme-dark .theme-light {
    /* || Background Colors */
    --background-primary: black;
    --background-secondary: #0E0F10;
    --background-secondary-alt: #151619;
    --background-tertiary: #070708;
    --background-accent: #212121;
    --background-modifier-hover: rgba(33, 35, 37, 0.3);
    --background-modifier-active: rgba(33, 35, 37, 0.4);
    --background-modifier-selected: rgba(33, 35, 37, 0.42);
    --background-modifier-accent: rgba(255, 255, 255, 0.06);
    --background-floating: #090A0B;
    --modal-background: #0C0C0E;
    --input-background: #070708;
    --input-border: #131416;
    --channeltextarea-background: #070708;
    --card-background: #090A0B;
    --card-border: #1C1C1C;
    --button-secondary-background: #22262A;
    --button-secondary-background-hover: #2E3338;
    --button-secondary-background-active: #373D43;
    --button-secondary-background-disabled: #171A1C;
    --button-outline-primary-border: #22262A;
    --button-outline-primary-border-hover: #2E3338;
    --button-outline-primary-background-hover: #2E3338;
    --button-outline-primary-background-active: #373D43;
    --button-outline-primary-border-active: #373D43;
    --scrollertrack-background: #090A0B;
    --scrollerthumb-background: #131416;
    /* || Text Colors */
    --text-normal: white;
    --text-muted: #969696;
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --channels-default: var(--text-muted);
    /* || Interactive */
    --channel-icon: var(--channels-default);
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #3B3F45;
}

/* |END| Abstracts - Variables */
body, .appMount-2yBXZl, .app-2CXKsg, .bg-1QIAus {
    background-color: var(--background-primary) !important;
}

/* || Mountain Wumpus */
[style$='("/assets/b36c705f790dad253981f1893085015a.svg");'] {
    background-image: url("https://luckfire.github.io/amoled-cord-revised/assets/theme/mountain-wumpus.svg") !important;
}

/* || King Wumpus */
[style$='("/assets/b5eb2f7d6b3f8cc9b60be4a5dcf28015.svg");'] {
    background-image: url("https://luckfire.github.io/amoled-cord-revised/assets/theme/king-wumpus.svg") !important;
}

/* || Sleeping Wumpus */
[style$='url("/assets/b36de980b174d7b798c89f35c116e5c6.svg");'] {
    background-image: url("https://luckfire.github.io/amoled-cord-revised/assets/theme/sleeping-wumpus.svg") !important;
}

/* || Mining Wumpus */
[style$='url("/assets/8c998f8fb62016fcfb4901e424ff378b.svg");'] {
    background-image: url("https://luckfire.github.io/amoled-cord-revised/assets/theme/mining-wumpus.svg") !important;
}

/* || Paper Plane */
[style$='url("/assets/9937df80bc9c58a3e67709f58402f4db.svg");'] {
    background-image: url("https://luckfire.github.io/amoled-cord-revised/assets/theme/paper-plane.svg") !important;
}

/* || Emojis */
[style$='url("/assets/b21e574729a2e2b9243d811be7333677.svg");'] {
    background-image: url("https://luckfire.github.io/amoled-cord-revised/assets/theme/emojis.svg") !important;
}

/* || Hammer */
[style$='url("/assets/8f841811896e9d1eefcd13bcdaca9579.svg");'] {
    background-image: url("https://luckfire.github.io/amoled-cord-revised/assets/theme/hammer.svg") !important;
}

/* || Empty Wumpus */
.emptyWumpus-11kRB0 {
    background-image: url("https://luckfire.github.io/amoled-cord-revised/assets/theme/empty-wumpus.svg") !important;
}

/* || Empty Shared Guilds */
.emptyIconGuilds-2NNSTU {
    background-image: url("https://luckfire.github.io/amoled-cord-revised/assets/theme/empty-guilds.svg") !important;
}

/* || Empty Shared Friends */
.emptyIconFriends-2LNxTX {
    background-image: url("https://luckfire.github.io/amoled-cord-revised/assets/theme/empty-friends.svg") !important;
}

.button-1EGGcP.buttonColor-3bP3fX {
    background-color: var(--button-secondary-background);
}
.button-1EGGcP.buttonColor-3bP3fX:hover {
    background-color: var(--button-secondary-background-hover);
}
.button-1EGGcP.buttonColor-3bP3fX:active {
    background-color: var(--button-secondary-background-active);
}

.button-1EGGcP.buttonColor-3bP3fX.fauxDisabled-8w0hCZ {
    background-color: var(--button-secondary-background-disabled);
}

.itemFilled-1cPbtg {
    background-color: var(--background-tertiary);
}

#app-mount .react-datepicker,
#app-mount .react-datepicker__header {
    background-color: var(--background-floating);
}
#app-mount .react-datepicker .react-datepicker__navigation.react-datepicker__navigation--next,
#app-mount .react-datepicker .react-datepicker__navigation.react-datepicker__navigation--previous {
    background-color: var(--background-secondary);
}
#app-mount .react-datepicker .react-datepicker__day,
#app-mount .react-datepicker .react-datepicker__day:last-of-type {
    border-color: var(--background-secondary-alt);
}
#app-mount .react-datepicker .react-datepicker__day--disabled,
#app-mount .react-datepicker .react-datepicker__day--outside-month,
#app-mount .react-datepicker .react-datepicker__day.react-datepicker__day--disabled,
#app-mount .react-datepicker .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: var(--background-tertiary);
}

/*!
  Theme: Chalk
  Author: Chris Kempson (http://chriskempson.com)
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/
/*
  WARNING: DO NOT EDIT THIS FILE DIRECTLY.

  This theme file was auto-generated from the Base16 scheme chalk
  by the Highlight.js Base16 template builder.

  - https://github.com/highlightjs/base16-highlightjs
*/
/*
base00  #151515  Default Background
base01  #202020  Lighter Background (Used for status bars, line number and folding marks)
base02  #303030  Selection Background
base03  #505050  Comments, Invisibles, Line Highlighting
base04  #b0b0b0  Dark Foreground (Used for status bars)
base05  #d0d0d0  Default Foreground, Caret, Delimiters, Operators
base06  #e0e0e0  Light Foreground (Not often used)
base07  #f5f5f5  Light Background (Not often used)
base08  #fb9fb1  Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
base09  #eda987  Integers, Boolean, Constants, XML Attributes, Markup Link Url
base0A  #ddb26f  Classes, Markup Bold, Search Text Background
base0B  #acc267  Strings, Inherited Class, Markup Code, Diff Inserted
base0C  #12cfc0  Support, Regular Expressions, Escape Characters, Markup Quotes
base0D  #6fc2ef  Functions, Methods, Attribute IDs, Headings
base0E  #e1a3ee  Keywords, Storage, Selector, Markup Italic, Diff Changed
base0F  #deaf8f  Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>
*/
/* purposely do not highlight these things */
/* base03 - #505050 -  Comments, Invisibles, Line Highlighting */
.hljs-comment {
    color: #505050;
}

/* base04 - #b0b0b0 -  Dark Foreground (Used for status bars) */
.hljs-tag {
    color: #b0b0b0;
}

/* base05 - #d0d0d0 -  Default Foreground, Caret, Delimiters, Operators */
.hljs-subst,
.hljs-punctuation,
.hljs-operator {
    color: #d0d0d0;
}

.hljs-operator {
    opacity: 0.7;
}

/* base08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
.hljs-bullet,
.hljs-variable,
.hljs-template-variable,
.hljs-selector-tag,
.hljs-name,
.hljs-deletion {
    color: #fb9fb1;
}

/* base09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url */
.hljs-symbol,
.hljs-number,
.hljs-link,
.hljs-attr,
.hljs-variable.constant_,
.hljs-literal {
    color: #eda987;
}

/* base0A - Classes, Markup Bold, Search Text Background */
.hljs-title,
.hljs-class .hljs-title,
.hljs-title.class_ {
    color: #ddb26f;
}

.hljs-strong {
    font-weight: bold;
    color: #ddb26f;
}

/* base0B - Strings, Inherited Class, Markup Code, Diff Inserted */
.hljs-code,
.hljs-addition,
.hljs-title.class_.inherited__,
.hljs-string {
    color: #acc267;
}

/* base0C - Support, Regular Expressions, Escape Characters, Markup Quotes */
.hljs-built_in,
.hljs-doctag,
.hljs-quote,
.hljs-keyword.hljs-atrule,
.hljs-regexp {
    color: #12cfc0;
}

/* base0D - Functions, Methods, Attribute IDs, Headings */
.hljs-function .hljs-title,
.hljs-attribute,
.ruby .hljs-property,
.hljs-title.function_,
.hljs-section {
    color: #6fc2ef;
}

/* base0E - Keywords, Storage, Selector, Markup Italic, Diff Changed */
.hljs-type,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.diff .hljs-meta,
.hljs-keyword {
    color: #e1a3ee;
}

.hljs-emphasis {
    color: #e1a3ee;
    font-style: italic;
}

/* base0F - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
    color: #deaf8f;
}

.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
    font-weight: bold;
}

/* || Inputs
 * I'll improve on how this is done in the future. For now, it works.
 */
#app-mount .input-2z42oC,
#app-mount .input-2g-os5,
#app-mount .searchBar-3TnChZ .searchBarComponent-3N7dCG,
#app-mount .searchBox-pyIJJj,
#app-mount .container-2oNtJn,
#app-mount .addFriendInputWrapper-kkoSV9,
#app-mount .channelTextArea-1VQBuV,
#app-mount .lookFilled-1GseHa.select-1Ia3hD,
#app-mount .container-30qY7E,
#app-mount .copyInputDefault-3jiMHw,
#app-mount .input-3r5zZY {
    border: 1px solid var(--input-border);
    background-color: var(--input-background);
}
#app-mount .search-39IXmY {
    border: 1px solid var(--input-border);
    border-radius: 3px;
}
#app-mount .searchBar-jGtisZ {
    background-color: var(--input-background);
}
#app-mount .search-2Mwzzq .DraftEditor-root {
    padding: 1px 0;
}
#app-mount .searchBoxInput-3h4etz,
#app-mount .searchBox-31Zv9h {
    border: none;
    background: white;
}
#app-mount .textarea-_59yqs,
#app-mount .input-1bmui3,
#app-mount .form-25Aujy .input-2g-os5,
#app-mount .form-25Aujy .channelTextArea-1VQBuV,
#app-mount .rulesTextAreaInput-asSkdy {
    border: none;
    background: transparent;
}
#app-mount .container-1_EVMa:not(.disabled-3S7pz8):focus-within,
#app-mount .container-1_EVMa:not(.disabled-3S7pz8):hover {
    border-color: hsla(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%, 0.3);
}

#app-mount .css-1kj8ui-container > div {
    font-weight: 500;
    border-color: var(--input-border);
    background-color: var(--input-background);
}
#app-mount .css-ku6vh5-indicatorContainer {
    height: 40px;
    padding-left: 30px;
}
#app-mount .css-ku6vh5-indicatorContainer svg {
    position: absolute;
    top: 10px;
    right: 9px;
}
#app-mount .css-ku6vh5-indicatorContainer path {
    display: none;
}
#app-mount .css-gvi9bl-control .css-ku6vh5-indicatorContainer svg {
    background: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.59 8.59003L12 13.17L7.41 8.59003L6 10L12 16L18 10L16.59 8.59003Z" fill="%23DCDDDE"/></svg>') center/100% no-repeat;
}
#app-mount .css-17e1tep-control .css-ku6vh5-indicatorContainer svg {
    background: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.59 8.59003L12 13.17L7.41 8.59003L6 10L12 16L18 10L16.59 8.59003Z" fill="%23DCDDDE"/></svg>') center/100% no-repeat;
}
#app-mount .css-6fzn47-control .css-ku6vh5-indicatorContainer svg {
    background: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 16.0001L12 11.4201L16.59 16.0001L18 14.5901L12 8.59006L6 14.5901L7.41 16.0001Z" fill="%23DCDDDE"/></svg>') center/100% no-repeat;
}
#app-mount .css-1llpzi1-indicatorContainer svg {
    position: absolute;
    top: 13px;
    right: -5px;
}
#app-mount .css-3vaxre-menu {
    background-color: var(--background-secondary);
    border-color: var(--background-secondary-alt);
    box-shadow: none;
    -webkit-animation: popup 0.22s ease-out;
            animation: popup 0.22s ease-out;
}
#app-mount .css-1yz4bi9-option {
    color: var(--interactive-normal);
}
#app-mount .css-rzbxvl-option {
    color: var(--interactive-hover);
    background-color: var(--background-modifier-hover);
}
#app-mount .css-1ba14n5-option {
    color: var(--text-normal);
    background-color: var(--background-tertiary);
}

@-webkit-keyframes popup {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: none;
    }
}

@keyframes popup {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: none;
    }
}
.base-2jDfDU .membersWrap-3NUR2t {
    background-color: var(--background-primary);
}
.base-2jDfDU .container-2o3qEW,
.base-2jDfDU .members-3WRCEx,
.base-2jDfDU .members-3WRCEx > div {
    background-color: unset;
}

.scroller-kQBbkU::-webkit-scrollbar-track, .auto-2K3UW5::-webkit-scrollbar-track, .peopleColumn-1wMU14::-webkit-scrollbar-track {
    background-color: var(--scrollertrack-background);
}

.scroller-kQBbkU::-webkit-scrollbar-thumb, .auto-2K3UW5::-webkit-scrollbar-thumb, .thin-31rlnD::-webkit-scrollbar-thumb, .peopleColumn-1wMU14::-webkit-scrollbar-thumb {
    background-color: var(--scrollerthumb-background);
}

.theme-light .base-2jDfDU::before {
    z-index: 101;
    position: relative;
    text-align: center;
    content: "AMOLED-cord is strictly meant to be used in dark mode, so it will not work properly in light mode. Please head over to Settings -> Appearance, then under Theme, enable Dark.";
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    padding-left: 4px;
    padding-right: 28px;
    border-radius: 8px 0 0;
    flex-grow: 0;
    flex-shrink: 0;
    box-shadow: var(--elevation-low);
    color: #fff;
    background-color: var(--background-secondary);
}
.theme-light .base-2jDfDU .notice-2HEN-u,
.theme-light .base-2jDfDU .sidebar-1tnWFu {
    border-radius: 0;
}

#app-mount .root-g14mjS {
    box-shadow: none;
    background-color: var(--modal-background);
}
#app-mount .root-g14mjS .modalHeader-1hF3w-, #app-mount .root-g14mjS .modalBody-3-seO3 {
    background-color: var(--modal-background);
}
#app-mount .root-g14mjS .syncCard-Mu6lpD {
    background-color: var(--background-primary);
}
#app-mount .root-g14mjS .footer-31IekZ, #app-mount .root-g14mjS .footer-VCsJQY {
    box-shadow: none;
    color: var(--text-normal);
    background-color: var(--background-tertiary);
}

#app-mount .root-g14mjS .list-3-WAYB {
    background-color: var(--background-primary);
}
#app-mount .root-g14mjS .authBox-1HR6Ha {
    box-shadow: none;
    background-color: var(--modal-background);
}
#app-mount .root-g14mjS .navRow-dG-XX8 {
    box-shadow: none;
    background-color: var(--background-tertiary);
}

#app-mount .root-g14mjS .iconWrapper-2_MXbk {
    background-color: var(--background-accent);
}
#app-mount .root-g14mjS .perks-2IIbWQ {
    background-color: var(--background-primary);
}
#app-mount .root-g14mjS .perks-2IIbWQ .perkRow-10K6XE {
    border-bottom-color: var(--background-modifier-accent);
}

#app-mount .root-g14mjS .container-x8Y1ix, #app-mount .root-g14mjS .guildRow-3fJnG6 {
    background-color: var(--modal-background);
}
#app-mount .root-g14mjS .container-x8Y1ix:hover, #app-mount .root-g14mjS .guildRow-3fJnG6:hover {
    background-color: var(--background-modifier-hover);
}

#app-mount .root-g14mjS .message-G6O-Wv {
    box-shadow: none;
    background-color: var(--background-primary);
}

/* |START| Components/Modals - Events */
#app-mount .root-g14mjS .card-8UsK4b {
    border-color: var(--background-primary);
    background-color: var(--background-primary);
}
#app-mount .root-g14mjS .card-8UsK4b:hover {
    background-color: var(--background-modifier-hover);
}
#app-mount .root-g14mjS .progressBar-18rmp1:not(.selectedProgressBar-11z5d9) {
    background-color: var(--background-accent);
}
#app-mount .root-g14mjS .contentContainer-BWAau5 {
    background-color: var(--modal-background);
}

#app-mount .keyboardShortcutsModal-2CRmCm {
    background-color: var(--modal-background);
}
#app-mount .key-N5VmHN {
    box-shadow: inset 0 -4px 0 var(--background-tertiary);
    border-color: var(--background-tertiary);
    background-color: var(--background-secondary-alt);
}

#app-mount .contentWrapper-3oy4Xo {
    background-color: var(--modal-background);
}

#app-mount .root-g14mjS .quickswitcher-pKcM9U {
    box-shadow: none;
    background-color: var(--modal-background);
}
#app-mount .root-g14mjS .quickswitcher-pKcM9U .scroller-2qwVWY {
    background-color: var(--modal-background);
}

#app-mount .root-g14mjS .reactors-1VXca7 {
    background-color: unset;
}
#app-mount .root-g14mjS .reactors-1VXca7 .reactorDefault-3GSyaV {
    box-shadow: none;
    border-bottom: 1px solid var(--background-modifier-accent);
}
#app-mount .root-g14mjS .scroller-2GkvCq {
    background-color: var(--background-secondary);
}
#app-mount .root-g14mjS .scroller-2GkvCq .reactionDefault-1Sjj1f:hover {
    background-color: var(--background-modifier-hover);
}
#app-mount .root-g14mjS .scroller-2GkvCq .reactionDefault-1Sjj1f:active {
    background-color: var(--background-modifier-active);
}
#app-mount .root-g14mjS .scroller-2GkvCq .reactionSelected-1aMb2K {
    background-color: var(--background-modifier-selected);
}

#app-mount .root-g14mjS .previewDark-3Xp3UB {
    background-color: var(--background-primary);
}
#app-mount .root-g14mjS .previewLight-IOzFhi {
    display: none;
}

#app-mount .root-g14mjS .qualitySettingsContainer-2LjkfM {
    border-color: var(--background-primary);
}
#app-mount .root-g14mjS .item-2OyinQ:not(.selectorButtonSelected-3cQUnj) {
    border-color: var(--background-secondary-alt);
    background-color: var(--background-primary);
}

#app-mount .layer-2aCOJ3 .header-1w9Q93, #app-mount .layer-2aCOJ3 .header-1w9Q93 + div {
    background-color: var(--background-floating);
}
#app-mount .layer-2aCOJ3 .tab-TRrPC8.active-1grPyy {
    background-color: var(--background-modifier-active);
}
#app-mount .container-2O1UgZ {
    box-shadow: none;
    border-color: var(--background-primary);
    background-color: var(--background-floating);
}

#app-mount .addGamePopout-2SKNIV {
    box-shadow: none;
    background-color: var(--background-floating);
}

#app-mount .autocomplete-3NRXG8 {
    background-color: var(--background-floating);
}
#app-mount .autocomplete-3NRXG8 .wrapper-22rqw6 .selected-3B2w1z, #app-mount .autocomplete-3NRXG8 .wrapper-22rqw6 .selected-3B2w1z:hover {
    background-color: var(--background-modifier-selected);
}
#app-mount .autocomplete-3NRXG8 .categoryHeader-OpJ1Ly {
    background-color: var(--background-floating);
}
#app-mount .autocomplete-3NRXG8 .clickable-2V8YKY[aria-disabled=false] .base-2v-uc0:hover, #app-mount .autocomplete-3NRXG8 .clickable-2V8YKY[aria-selected=true] .base-2v-uc0 {
    background-color: var(--background-modifier-selected);
}
#app-mount .container-1S70rv .autocompleteShadow-2nfsSy {
    box-shadow: none;
}
#app-mount .container-1S70rv .header-3i_Csh {
    background-color: var(--background-tertiary);
}
#app-mount .container-1S70rv .sectionTag-28mLyE {
    color: var(--interactive-normal);
    background-color: var(--background-secondary);
}

#app-mount .colorPickerCustom-1swUKF {
    border-color: var(--background-primary);
    background: var(--background-floating);
}
#app-mount .colorPickerCustom-1swUKF .input-2m5SfJ {
    background-color: var(--input-background);
}

.layer-2aCOJ3 .emojiPicker-6YCk8a {
    background-color: var(--background-floating);
}
.layer-2aCOJ3 .emojiPicker-6YCk8a .wrapper-1NNaWG {
    background-color: var(--background-floating);
}
.layer-2aCOJ3 .emojiPicker-6YCk8a .imageLoading-2uloYN {
    border-radius: 30%;
    background-color: var(--background-accent);
    background-image: none;
}
.layer-2aCOJ3 .wrapper-22rqw6 {
    background-color: var(--background-secondary);
}
.layer-2aCOJ3 .wrapper-22rqw6 .categoryItemDefaultCategorySelected-2YeRUu,
.layer-2aCOJ3 .wrapper-22rqw6 .categoryItemDefaultCategorySelected-2YeRUu:hover {
    background-color: var(--background-modifier-selected);
}

.popoutContainer-2wbmiM {
    background-color: var(--background-secondary);
}
.popoutContainer-2wbmiM .guildSection-2Zyzy8 {
    background-color: var(--background-floating);
}

.layer-2aCOJ3 .channelHeader-DFRX8q {
    background-color: var(--background-floating);
}
.layer-2aCOJ3 .jumpButton-1V_1FA {
    background-color: var(--background-secondary);
}
.layer-2aCOJ3 .button-1_oXub {
    background-color: var(--background-primary);
}
.layer-2aCOJ3 .button-1_oXub:hover {
    background-color: var(--background-modifier-hover);
}
.layer-2aCOJ3 .button-1_oXub:active {
    background-color: var(--background-modifier-active);
}
.layer-2aCOJ3 .messageContainer-3VTXBC,
.layer-2aCOJ3 .messages-23can0 {
    background-color: var(--background-primary);
}

#app-mount .overflowRolesPopout-1Puiuq, #app-mount .overflowRolesPopoutArrow-2R7g3K {
    box-shadow: none;
    background-color: var(--background-floating);
}

.layer-2aCOJ3 .button-1zW0-r {
    background-color: var(--background-primary);
}
.layer-2aCOJ3 .button-1zW0-r:hover {
    background-color: var(--background-modifier-hover);
}
.layer-2aCOJ3 .quickSelectPopout-2F0PXw {
    background-color: var(--background-floating);
}
.layer-2aCOJ3 .quickSelectPopout-2F0PXw .quickSelectPopoutOption-2E2UmS.selected {
    background-color: var(--background-modifier-selected);
}
.layer-2aCOJ3 .quickSelectPopout-2F0PXw .quickSelectPopoutOption-2E2UmS:hover {
    background-color: var(--background-modifier-hover);
}

#app-mount .noiseCancellationPopout-2-e5Xz {
    background-color: var(--background-floating);
}
#app-mount .noiseCancellationPopout-2-e5Xz .notches-2w7UZJ.black-11MaxJ {
    background-image: none;
    background-color: var(--background-floating);
    -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="8" height="20" viewBox="0 0 8 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z" fill="currentColor"/></svg>');
    mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="8" height="20" viewBox="0 0 8 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z" fill="currentColor"/></svg>');
}

.messageGroupWrapper-1jf_7C {
    background-color: var(--background-primary);
}
.messageGroupWrapper-1jf_7C .jumpButton-1ZwI_j {
    background-color: var(--background-secondary);
}

#app-mount .searchResultsWrap-5RVOkx, #app-mount .channelName-3w2Y3c, #app-mount .searchHeader-1r_ZSh {
    background-color: var(--background-primary);
}
#app-mount .searchResult-O9NDji {
    background-color: var(--background-tertiary);
}
#app-mount .button-cfOvv- {
    background-color: var(--background-primary);
}
#app-mount .searchAnswer-23w-CH,
#app-mount .searchFilter-2UfsDk {
    background-color: var(--background-accent);
}
#app-mount .container-2McqkF {
    box-shadow: none;
    background-color: var(--background-floating);
}
#app-mount .container-2McqkF .focused-2FU0YH {
    border-bottom: none;
    background-color: var(--background-floating);
}
#app-mount .container-2McqkF .option-ayUoaq::after {
    background: none;
}

#app-mount .streamPreview-I7itZ6 {
    background-color: var(--background-floating);
}
#app-mount .streamPreview-I7itZ6 .previewContainer-35LFgt {
    background-color: var(--background-secondary);
}

.container-18GwIk, .header-3_zmOb {
    background-color: var(--background-floating);
}

.container-18GwIk .container-2rzKKA {
    border-color: var(--background-primary);
    background-color: var(--background-primary);
}
.container-18GwIk .container-2rzKKA:hover {
    border-color: var(--background-secondary);
}
.container-18GwIk .container-2rzKKA:active {
    border-color: var(--background-secondary-alt);
}

#app-mount .tooltipGrey-lpLZjh {
    color: var(--text-normal);
    background-color: var(--background-floating);
}
#app-mount .tooltipGrey-lpLZjh .tooltipPointer-3L49xb {
    border-top-color: var(--background-floating);
}

.scroller-3X7KbA {
    background-color: var(--background-primary);
}
.scroller-3X7KbA [class=circleIconButton-1VxDrg], .scroller-3X7KbA .childWrapper-1j_1ub,
.scroller-3X7KbA .folder-241Joy.hover-3m7-WT {
    background-color: var(--background-secondary-alt);
}
.scroller-3X7KbA .folder-241Joy, .scroller-3X7KbA .expandedFolderBackground-1kSAf6 {
    background-color: var(--background-secondary);
}

.sidebar-1tnWFu {
    background: var(--background-primary);
}
.sidebar-1tnWFu .panels-3wFtMD, .sidebar-1tnWFu .container-1NXEtd, .sidebar-1tnWFu .privateChannels-oVe7HL, .sidebar-1tnWFu .scroller-WSmht3 {
    background-color: var(--background-primary);
}
.sidebar-1tnWFu .channelInfo-3jN1ay .users-2JoyGL {
    background-color: var(--background-secondary);
}
.sidebar-1tnWFu .channelInfo-3jN1ay .total-1c5KCN {
    background-color: var(--background-secondary-alt);
}
.sidebar-1tnWFu .channelInfo-3jN1ay .total-1c5KCN::after {
    border-right-color: var(--background-secondary-alt);
}

.typeWindows-2-g3UY .wordmark-2u86JB {
    margin-left: 13px;
    color: #525760;
}
.typeWindows-2-g3UY .wordmark-2u86JB::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    left: -3px;
    top: 6px;
    background-color: #525760;
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.7649 7.965C10.6849 7.83 10.4599 7.62 9.89985 7.72C9.58985 7.775 9.27485 7.8 8.95985 7.785C7.79485 7.735 6.73985 7.2 6.00485 6.375C5.35485 5.65 4.95485 4.705 4.94985 3.685C4.94985 3.115 5.05985 2.565 5.28485 2.045C5.50485 1.54 5.34985 1.275 5.23985 1.165C5.12485 1.05 4.85485 0.889997 4.32485 1.11C2.27985 1.97 1.01485 4.02 1.16485 6.215C1.31485 8.28 2.76485 10.045 4.68485 10.71C5.14485 10.87 5.62985 10.965 6.12985 10.985C6.20985 10.99 6.28985 10.995 6.36985 10.995C8.04485 10.995 9.61485 10.205 10.6049 8.86C10.9399 8.395 10.8499 8.1 10.7649 7.965Z" fill="%23525760"/></svg>');
    mask-image: url('data:image/svg+xml;utf8,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.7649 7.965C10.6849 7.83 10.4599 7.62 9.89985 7.72C9.58985 7.775 9.27485 7.8 8.95985 7.785C7.79485 7.735 6.73985 7.2 6.00485 6.375C5.35485 5.65 4.95485 4.705 4.94985 3.685C4.94985 3.115 5.05985 2.565 5.28485 2.045C5.50485 1.54 5.34985 1.275 5.23985 1.165C5.12485 1.05 4.85485 0.889997 4.32485 1.11C2.27985 1.97 1.01485 4.02 1.16485 6.215C1.31485 8.28 2.76485 10.045 4.68485 10.71C5.14485 10.87 5.62985 10.965 6.12985 10.985C6.20985 10.99 6.28985 10.995 6.36985 10.995C8.04485 10.995 9.61485 10.205 10.6049 8.86C10.9399 8.395 10.8499 8.1 10.7649 7.965Z" fill="%23525760"/></svg>');
}

#app-mount .perksModal-CLcR1c {
    background-color: var(--background-primary);
}
#app-mount .perksModal-CLcR1c .ctaBar-Nhk8yY {
    background-color: var(--background-tertiary);
}
#app-mount .perksModal-CLcR1c .progressBar-20NUv9 .barBackground-unEPDT, #app-mount .perksModal-CLcR1c .progressBar-20NUv9 .tierMarkerBackground-G8FoN4 {
    background-color: var(--background-tertiary);
}
#app-mount .perksModal-CLcR1c .progressBar-20NUv9 .tierMarkerInProgress-2Tdxjz {
    background-color: var(--background-tertiary) !important;
}
#app-mount .perksModal-CLcR1c .tier-lFqDUs .tierHeaderLocked-3ItHYn {
    color: var(--interactive-normal);
    background-color: var(--background-tertiary);
}
#app-mount .perksModal-CLcR1c .tier-lFqDUs .tierBody-3ju-rc {
    background-color: var(--background-secondary);
}
#app-mount .perksModal-CLcR1c .perk-19D_HN {
    background-color: var(--background-secondary);
}

#app-mount .embedFull-1HGV2S {
    border-color: var(--background-secondary-alt);
    background: var(--background-tertiary);
}
#app-mount .wrapperAudio-1Bzv_Z,
#app-mount .markup-eYLPri code,
#app-mount .textContainer-36wgKK, #app-mount .footer-GXWBBp,
#app-mount .attachment-1PZZB2,
#app-mount .invite-3uuHYQ {
    border-color: var(--background-primary);
    background-color: var(--background-tertiary);
}
#app-mount .wrapper-1HIH0j,
#app-mount .container-3i3IzO {
    background-color: var(--background-tertiary);
}
#app-mount .guildIconImage-74OdmM {
    background-color: var(--background-secondary);
}
#app-mount .wrapper-2vIMkT {
    background-color: var(--background-floating);
}
#app-mount .message-2CShn3:not(.mentioned-Tre-dv, .ephemeral-2nDdnn):hover {
    background-color: rgba(33, 35, 37, 0.1);
}

#app-mount .pageWrapper-2PwDoS {
    background-color: var(--background-primary);
}
#app-mount .pageWrapper-2PwDoS .card-2TuZPZ, #app-mount .pageWrapper-2PwDoS .iconMask-2fMR98 {
    background-color: var(--background-secondary);
}
#app-mount .pageWrapper-2PwDoS .card-2TuZPZ:hover, #app-mount .pageWrapper-2PwDoS .card-2TuZPZ:hover .iconMask-2fMR98 {
    background-color: var(--background-tertiary);
}

#app-mount .background-fkKrXt {
    background-color: var(--background-primary);
}
#app-mount .background-fkKrXt .card-3x20HF,
#app-mount .background-fkKrXt .container-2Hi7Km,
#app-mount .background-fkKrXt .container-xwOzwi,
#app-mount .background-fkKrXt .container-3rZ3XA,
#app-mount .background-fkKrXt .emptyStateContainer-xWOMPJ,
#app-mount .background-fkKrXt .wrapper-15CKyy {
    background-color: var(--background-tertiary);
}
#app-mount .background-fkKrXt .icon-2IDTxf {
    border-color: var(--background-tertiary);
}
#app-mount .background-fkKrXt .iconContainer-2R-3M1 {
    background-color: var(--background-primary);
}
@media (max-width: 1300px) {
    #app-mount .background-fkKrXt .container-xwOzwi,
#app-mount .background-fkKrXt .container-3rZ3XA {
        background-color: var(--background-primary);
    }
    #app-mount .background-fkKrXt .container-3HMTms,
#app-mount .background-fkKrXt .emptyStateContainer-xWOMPJ {
        background-color: var(--background-tertiary);
    }
}
#app-mount .background-fkKrXt .headerBarInner-2pcZSM::after {
    background: linear-gradient(90deg, rgba(54, 57, 63, 0) 0, var(--background-primary));
}
#app-mount .background-fkKrXt .previewContainer-3BJM_S {
    background-color: var(--background-secondary);
}

#app-mount .container-3wLKDe {
    background-color: var(--background-primary);
}
#app-mount .container-3wLKDe .mainCard-3KBsBI,
#app-mount .container-3wLKDe .sidebarCard-1Gn1ch,
#app-mount .container-3wLKDe .container-2IhveL {
    background-color: var(--background-tertiary);
}
#app-mount .container-3wLKDe .pill-3pRQlO {
    background-color: var(--background-secondary);
}

#app-mount .layer-86YKbF .tierBody-1d3UiS {
    background-color: var(--background-secondary);
}
#app-mount .layer-86YKbF .tierHeader-3q9jIw,
#app-mount .layer-86YKbF .tierInProgress-1vFUnw {
    background-color: var(--background-tertiary);
}
#app-mount .layer-86YKbF .background-3xJH_4 {
    color: var(--background-tertiary);
}
#app-mount .layer-86YKbF #overview-tab .avatarUploaderInnerSquareDisabled-3M9eJS {
    background-color: var(--background-accent);
}
#app-mount .layer-86YKbF #roles-tab .container-3EtAkD {
    background-color: var(--card-background);
}
#app-mount .layer-86YKbF #roles-tab .roleRow-230vCm:hover {
    background-color: var(--background-tertiary);
}
#app-mount .layer-86YKbF #roles-tab .roleRow-230vCm .primary-38Hs-h:hover:not(.disabled-184-il),
#app-mount .layer-86YKbF #roles-tab .roleRow-230vCm .secondary-2bzKEX {
    background-color: var(--background-secondary);
}
#app-mount .layer-86YKbF #roles-tab .previewContainer-1xQAsw .theme-light {
    display: none;
}
#app-mount .layer-86YKbF .auditLog-1NVAY0 {
    border-color: var(--background-secondary-alt);
    background-color: var(--background-tertiary);
}
#app-mount .layer-86YKbF .auditLog-1NVAY0 .headerClickable-zGQJz3, #app-mount .layer-86YKbF .auditLog-1NVAY0 .headerDefault-1e6yjj {
    background-color: transparent;
}
#app-mount .layer-86YKbF .auditLog-1NVAY0 .headerExpanded-1-zwDr {
    background-color: var(--background-secondary);
}
#app-mount .layer-86YKbF .auditLog-1NVAY0 .changeDetails-1kMZqI {
    background-color: var(--background-tertiary);
}
#app-mount .layer-86YKbF .auditLog-1NVAY0 .divider-M3saWq {
    background-color: var(--background-secondary-alt);
}
#app-mount .layer-86YKbF #integrations-tab .card-2L21B2 {
    border-color: var(--card-border);
}
#app-mount .layer-86YKbF #integrations-tab .card-2L21B2 .cardHeader-3d6H8N {
    background-color: var(--background-secondary);
}
#app-mount .layer-86YKbF #guild_templates-tab .descriptionBox-SKGNgB {
    background-color: var(--card-background);
}
#app-mount .layer-86YKbF #community-tab .featureCard-3XHbjy {
    background-color: var(--card-background);
}
#app-mount .layer-86YKbF #community-tab .featureCard-3XHbjy .featureIcon-2sTnDK {
    background-color: var(--background-primary);
}

#app-mount .layer-86YKbF #connections-tab .accountList-Wii_T5 {
    background-color: var(--background-tertiary);
}
#app-mount .layer-86YKbF #connections-tab .connectionHeader-Ixbb1s {
    background-color: var(--background-secondary);
}
#app-mount .layer-86YKbF #connections-tab .connection-YOVI9j {
    background-color: var(--background-tertiary);
}
#app-mount .layer-86YKbF #discord-nitro-tab .feature-2IUcBI {
    background-color: var(--card-background);
}
#app-mount .layer-86YKbF #subscriptions-tab .detailsBlock-24pLFz,
#app-mount .layer-86YKbF #subscriptions-tab .accountCredit-1gEVAQ {
    background-color: var(--background-tertiary);
}
#app-mount .layer-86YKbF #billing-tab .verticalFit-21XL0v .paymentPane-ut5qKZ,
#app-mount .layer-86YKbF #billing-tab .verticalFit-21XL0v .paginator-1eqD2g,
#app-mount .layer-86YKbF #billing-tab .verticalFit-21XL0v .payment-2bOh4k {
    background-color: var(--background-tertiary);
}
#app-mount .layer-86YKbF #billing-tab .verticalFit-21XL0v .bottomDivider-ZmTm-j {
    border-color: var(--background-primary);
}
#app-mount .layer-86YKbF #billing-tab .verticalFit-21XL0v .hoverablePayment-lE1s4t:hover, #app-mount .layer-86YKbF #billing-tab .verticalFit-21XL0v .itemFilled-1cPbtg:hover {
    background-color: var(--background-modifier-hover);
}
#app-mount .layer-86YKbF #billing-tab .verticalFit-21XL0v .hoverablePayment-lE1s4t:active, #app-mount .layer-86YKbF #billing-tab .verticalFit-21XL0v .itemFilled-1cPbtg:active {
    background-color: var(--background-modifier-active);
}
#app-mount .layer-86YKbF #billing-tab .verticalFit-21XL0v .expandedInfo-1W31i3 {
    border: 1px solid var(--card-border);
    background-color: var(--background-primary);
}
#app-mount .layer-86YKbF #billing-tab .codeRedemptionRedirect-2hYMSQ {
    border-color: var(--card-border);
    background-color: var(--card-background);
}
#app-mount .layer-86YKbF #appearance-tab .preview-QJ3OG3 {
    background-color: var(--background-primary);
}
#app-mount .layer-86YKbF [id="voice-&-video-tab"] .notches-2w7UZJ.gray-3wP137 {
    background-image: none;
    background-color: var(--background-primary);
    -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="8" height="20" viewBox="0 0 8 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z" fill="currentColor"/></svg>');
    mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="8" height="20" viewBox="0 0 8 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z" fill="currentColor"/></svg>');
}
#app-mount .layer-86YKbF [id="voice-&-video-tab"] .progress-1S-TDF {
    background-color: var(--background-accent);
}
#app-mount .layer-86YKbF [id="voice-&-video-tab"] .backgroundOptionInner-SSz19O {
    background-color: var(--background-primary);
}
#app-mount .layer-86YKbF #game-activity-tab .game-2f2vPC {
    box-shadow: none;
    border-bottom: 1px solid var(--background-modifier-accent);
}
#app-mount .layer-86YKbF #overlay-tab .disabled-35mc5w {
    color: var(--background-accent);
}
#app-mount .layer-86YKbF #overlay-tab .option-1QI4c9:not(.selected-18Wszc) {
    background-color: var(--background-accent);
}

#app-mount .layer-86YKbF .closeButton-PCZcma, #app-mount .layer-86YKbF .keybind-13vtq8 {
    color: var(--interactive-normal);
}
#app-mount .layer-86YKbF .sidebarRegionScroller-FXiQOh {
    background-color: var(--background-primary);
}
#app-mount .layer-86YKbF .bar-1Bhnl9:not(.microphone-2RrrW7, .speaking-2Crrvt),
#app-mount .layer-86YKbF .markDash-yk2kJ- {
    background-color: var(--background-secondary-alt);
}
#app-mount .layer-86YKbF .elevationHigh-28Pty4 {
    background-color: var(--background-secondary) !important;
}
#app-mount .layer-86YKbF .cardPrimary-3qRT__ {
    border-color: var(--card-border);
    background-color: var(--card-background);
}
#app-mount .layer-86YKbF .cardPrimary-3qRT__ .iconWrapper-1sOtkE {
    background-color: var(--background-primary);
}
#app-mount .layer-86YKbF .cardPrimaryOutline-1ofwVz {
    border-color: var(--card-border);
}
#app-mount .layer-86YKbF .default-1Tkeeg {
    background-color: var(--background-tertiary);
}

#app-mount .container-2cd8Mz {
    background-color: var(--background-primary);
}
#app-mount .container-2cd8Mz .peopleListItem-u6dGxF:hover {
    background-color: var(--background-tertiary);
}
#app-mount .container-2cd8Mz .actionButton-3-B2x- {
    background-color: var(--background-secondary);
}
#app-mount .container-2cd8Mz .itemCard-3Etziu {
    border: none;
    background-color: var(--card-background);
}
#app-mount .container-2cd8Mz .itemCard-3Etziu:hover {
    background-color: var(--background-secondary);
}
#app-mount .container-2cd8Mz .inset-SbsSFp {
    background-color: var(--background-primary);
}
#app-mount .container-2cd8Mz .separator-2OaeRP {
    background-color: var(--activity-card-border);
}
#app-mount .container-2cd8Mz .multipleIconWrapper-2YHnS6 {
    background-color: var(--background-primary);
}
#app-mount .container-2cd8Mz .applicationStreamingPreviewWrapper-7j27t8 {
    background-color: var(--background-secondary);
}
#app-mount .container-36u7Lw .defaultIndicator-1AxErs {
    background-color: var(--background-accent);
}
#app-mount .container-36u7Lw .installationPath-2PbaRC {
    box-shadow: none;
    border-bottom: 1px solid var(--background-modifier-accent);
}
#app-mount .container-36u7Lw .hiddenLibraryApplication-lfw1ab {
    border-bottom-color: var(--background-modifier-accent);
}
#app-mount .container-36u7Lw .hiddenLibraryApplication-lfw1ab::before {
    border-color: var(--card-border);
    background-color: var(--card-background);
}
#app-mount .applicationStore-2nk7Lo .feature-2IUcBI {
    background-color: var(--card-background);
}

.callContainer-BGIngG,
.container-cH6QoY,
.scroller-35tvpe,
.rowContainer-jDvyA4,
.container-3r7mfc,
.wrapper-1gVUIN.minimum-fXpVNc,
.participants-3hk3ND {
    background-color: var(--background-primary);
}

.container-1IyjjY {
    background-color: var(--background-tertiary);
}
.container-1IyjjY:hover {
    background-color: var(--background-modifier-hover);
}
.container-1IyjjY:active {
    background-color: var(--background-modifier-active);
}

.iconBackground-3qSXiM {
    background-color: var(--background-secondary);
}

.separator-3FDGQ4 {
    background-color: var(--background-modifier-accent);
}

.divider-vv_iHh {
    border-color: var(--background-modifier-accent);
}

.colorable-3rVGna.primaryDark-2UJt1G {
    background-color: var(--background-secondary-alt);
}

.tileContainer-Os085F {
    background-color: var(--background-primary);
}
.tileContainer-Os085F:hover {
    background-color: var(--background-modifier-hover);
}

.scroller-35tvpe::-webkit-scrollbar-track {
    border: unset;
    background-color: unset;
}

.tile-2TcwiO {
    background-color: var(--background-tertiary);
}