.guilds-2JjMmN {
    background-color: transparent;
    .scroller-3X7KbA { background-color: transparent; }
    
    .childWrapper-1j_1ub, [class="circleIconButton-1VxDrg"] {
        background-color: var(--background-primary);
    }

    .folder-241Joy, .expandedFolderBackground-1kSAf6 {
        background-color: var(--background-secondary-alt);
    }
}