.sidebar-1tnWFu {
    background: var(--background-primary);
    // scrollers
    > nav, .scroller-WSmht3 {
        background: transparent;
    }

    // header
    [class="container-1-ERn5 clickable-vvKY2q"]:hover .header-3OsQeK {
        background-color: var(--background-secondary-alt);
    }

    // userarea
    .panels-3wFtMD {
        background-color: transparent;
    }
}