:root {
    --amoledcord-version: '4.0.0';
}

html.theme-light,
html.theme-dark,
html.theme-amoled,
html.theme-dark .theme-light:not(.userProfileOuterThemed-3EfHmv),
html.theme-dark .theme-dark:not(.userProfileOuterThemed-3EfHmv) {
    --background-primary: var(--primary-dark-900);
    --background-secondary: var(--primary-dark-860);
    --background-secondary-alt: var(--primary-dark-800);
    --background-tertiary: var(--primary-light-860);
    --background-accent: var(--primary-dark-760);
    --background-floating: var(--primary-dark-800);
    --channeltextarea-background: var(--primary-light-860);
    --deprecated-card-bg: var(--background-secondary);
    --deprecated-card-editable-bg: var(--background-secondary);
    --activity-card-background: var(--background-secondary);

    --modal-background: var(--primary-light-860);
    --modal-footer-background: var(--primary-dark-860);
    --scrollbar-thin-thumb: var(--primary-light-700);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: var(--primary-light-700);
    --scrollbar-auto-track: var(--primary-dark-800);
    --scrollbar-auto-scrollbar-color-thumb: var(--primary-light-700);
    --scrollbar-auto-scrollbar-color-track: var(--primary-dark-800);

    --input-background: var(--primary-light-830);
    --input-placeholder-text: var(--input-placeholder-text-dark);

    --background-modifier-hover: rgba(var(--primary-dark-500-rgb), 0.07);
    --background-modifier-active: rgba(var(--primary-dark-500-rgb), 0.17);
    --background-modifier-selected: rgba(var(--primary-dark-500-rgb), 0.19);
    --background-modifier-accent: rgba(var(--primary-dark-500-rgb), 0.15);

    --header-primary: var(--white-500);
    --header-secondary: var(--primary-dark-300);
    --text-normal: var(--primary-dark-200);
    --text-muted: var(--primary-dark-330);

    --elevation-stroke: 0 0 0 1px rgba(50, 50, 50, 0.15);
    --elevation-low: 0 1px 0 rgba(35, 35, 35, 0.2), 0 1.5px 0 rgba(35, 35, 35, 0.05), 0 2px 0 rgba(35, 35, 35, 0.05);
    --elevation-medium: 0 4px 4px rgba(35, 35, 35, 0.16);
    --elevation-high: 0 8px 16px rgba(35, 35, 35, 0.24);
}
