.scroller-3X7KbA {
    background-color: var(--background-primary);

    [class="circleIconButton-1VxDrg"], .childWrapper-1j_1ub,
    .folder-241Joy.hover-3m7-WT {
        background-color: var(--background-secondary);
    }

    .folder-241Joy, .expandedFolderBackground-1kSAf6 {
        background-color: var(--background-tertiary);
    }
}