.sidebar-1tnWFu {
    background: var(--background-primary);
    .panels-3wFtMD, .container-1NXEtd, .privateChannels-oVe7HL, .scroller-WSmht3 {
        background-color: var(--background-primary);
    }
    
    .channelInfo-3jN1ay {
        .users-2JoyGL {
            background-color: var(--background-secondary);
        }
        .total-1c5KCN {
            background-color: var(--background-secondary-alt);
            &::after {
                border-right-color: var(--background-secondary-alt);
            }
        }
    }
}