.typeWindows-2-g3UY {
    &::after {
        content: "";
        position: absolute;
        pointer-events: none;
        background: url('data:image/svg+xml;utf8,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.7649 7.965C10.6849 7.83 10.4599 7.62 9.89985 7.72C9.58985 7.775 9.27485 7.8 8.95985 7.785C7.79485 7.735 6.73985 7.2 6.00485 6.375C5.35485 5.65 4.95485 4.705 4.94985 3.685C4.94985 3.115 5.05985 2.565 5.28485 2.045C5.50485 1.54 5.34985 1.275 5.23985 1.165C5.12485 1.05 4.85485 0.889997 4.32485 1.11C2.27985 1.97 1.01485 4.02 1.16485 6.215C1.31485 8.28 2.76485 10.045 4.68485 10.71C5.14485 10.87 5.62985 10.965 6.12985 10.985C6.20985 10.99 6.28985 10.995 6.36985 10.995C8.04485 10.995 9.61485 10.205 10.6049 8.86C10.9399 8.395 10.8499 8.1 10.7649 7.965Z" fill="%23525760"/></svg>') center/100% no-repeat;
        width: 12px;
        height: 12px;
        left: 10px;
        top: 6px;
    }

    .wordmark-2u86JB {
        margin-left: 13px;
        color: #525760;
    }
}